{% extends 'base.html' %}
{% load static %}

{% block content %} 
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Have me make stuff for you.</h2>
        </header>
        
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="text" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="col-12">
                            <input type="text" name="subject" id="subject" placeholder="Subject" />
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li>{{form.captcha}}</li>
                                <li><input type="submit" value="Send Message" /></li>
                                <li><input type="reset" value="Clear Form" class="alt" /></li>
                            </ul>


                        </div>
                    </div>
                </form>
            </div>

    </div>
</article>


{% endblock %}