{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Education -->
<article id="work" class="wrapper style2">
	<div class="container">
		<header>
			<h2>Here's my education degree</h2>
			<p>I am a Medical Doctor graduated from Mashhad University Of Medical Sciences.</p>
		</header>
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">
				<section class="box style1">
					<span class="icon featured"><i class="fa-solid fa-stethoscope" style="font-size: 6em;"></i></span>
					<h3>MEDICINE</h3>
					<p>دکتری عمومی پزشکی</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<section class="box style1">
					<span class="icon featured"><i class="fa-solid fa-user-graduate" style="font-size: 6em;"></i></span>
					<h3>GRADUATED</h3>
					<p>فارغ التحصیل سال ۱۴۰۵</p>
				</section>
			</div>
			<div class="col-4 col-6-medium col-12-small">
				<section class="box style1">
					<span class="icon featured"><i class="fa-solid fa-school" style="font-size: 6em;"></i></span>
					<h3>UNIVERSITY</h3>
					<p>دانشگاه علوم پزشکی مشهد - دانشکده پزشکی</p>
				</section>
			</div>
		</div>
		<footer>
			<a href="#portfolio" class="button large scrolly">See some of my recent work</a>
		</footer>
	</div>
</article>

{% endblock %}