{% extends 'base.html' %}
{% load static %}

{% block content %}
<article id="work" class="wrapper style2">
    <div class="container">
        <div class="row aln-center">
            <div class="col-6 col-12-small">
                <section class="box style1">
                    <span><img src="{% static 'images/english.png' %}" style="width: 400px; height: 280px;" alt=""></span>
                    <h3>ENGLISH</h3>
                </section>
            </div>
            <div class="col-6 col-12-small">
                <section class="box style1">
                    <span><img src="{% static 'images/iran.png' %}" style="width: 400px; height: 280px;" alt=""></span>
                    <h3>PERSIAN</h3>
                </section>
            </div>
        </div>
    </div>
</article>

{% endblock %}