{% extends 'base.html' %}
{% load static %}

{% block content %}
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <article class="box style2">
                    <a href="#" class="image featured"><img src={{post.image.url}} alt="" /></a>
                    <h3>{{post.title}}</h3>
                    <small>{{post.published_date}}</small>
                </article>
                <a href="/projects" class="button large scrolly">Go Back!</a>
            </div>
            <div class="col-9">
                <article class="box style2">
                    <h2>{{post.more_info_header}}</h2>
                    <p style="text-align: justify; direction: ltr; color: black;">{{ post.more_info|linebreaksbr }}</p>
                </article>
            </div>
            
        </div>
    </div>
</article>










{% endblock %}