{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block content %}
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <article class="box style2">
                    <a href="#" class="image featured"><img src={{post.image.url}} alt="" /></a>
                    <h3>{{post.title}}</h3>
                    <small>{{post.published_date}}</small>
                    <small>{{post.author}}</small>
                </article>
                <a href="/projects" class="button large scrolly">Go Back!</a>
                <div>{% posttags %}</div>
            </div>
            <div class="col-9">
                <article class="box style2">
                    <h2>{{post.more_info_header}}</h2>
                    <p style="text-align: justify; direction: ltr; color: black;">{{ post.more_info|linebreaksbr }}</p>
                </article>
            </div>
            
        </div>
    </div>
</article>
<div style="display:flex;">
    {% if previous_post %}
    <a href="{% url 'project' previous_post.id %}"
       style="display:flex; align-items:center; gap:12px; width:300px; padding:12px; border:1px solid #ddd; border-radius:8px; color:black;">

        <img src="{{ previous_post.image.url }}"
            style="width:70px; height:70px; object-fit:cover; border-radius:5px;">

        <div>
            <div style="font-size:12px; color:rgb(89, 89, 89);">← Previous Post</div>
            <div style="font-weight:bold;">{{ previous_post.title }}</div>
        </div>

    </a>
    {% endif %}
    {% if next_post %}
    <a href="{% url 'project' next_post.id %}" 
        style="display:flex; align-items:center; gap:12px; width:300px; padding:12px; border:1px solid #ddd; border-radius:8px; color:black; margin-left:auto; ٖٖٖ">

        <img src="{{ next_post.image.url }}"
            style="width:70px; height:70px; object-fit:cover; border-radius:5px;">

        <div>
            <div style="font-size:12px; color:rgb(89, 89, 89);">Next Post →</div>
            <div style="font-weight:bold;">{{ next_post.title }}</div>
        </div>

    </a>
    {% endif %}
</div>










{% endblock %}