{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block content %}
	<article id="portfolio" class="wrapper style3">
		<div class="container">
			<header>
				<h2>Here is my Latest Projects</h2>
				
			</header>
			<div class="row">
				<div class="col-9">
					<div class="row">
						{% for post in posts %}
						<div class="col-6">
							<article class="box style2 project-card" style="height: 600px;">
								<div class="image featured">
									<div class="sticky-container">
										{% for cat in post.category.all %} 
										    <a class="sticky-note" href="{% url 'category' cat_title=cat.title %}">{{cat.title}}</a>
										{% endfor %}
									</div>
									<img src={{post.image.url}} alt="" style="height: 300px;" class="card-image-wrapper"/>
								</div>
								<h3><a href="/projects/post-{{post.id}}">{{post.title}}</a></h3>
								<p>{{post.content|truncatewords:50}}</p>
								<small>>{{post.published_date|date:"d M Y"}}</small>
								<small>/ published by : {{post.author}}</small>
								<small>/ views : {{post.counted_views}}</small>
							</article>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-3">
					<div class="search-box">
						<form action="{% url 'search' %}" method="get" class="search-form">
						  <input 
							type="text" 
							name="s" 
							class="search-input" 
							placeholder="Search Posts..." 
							required
						  >
						  <button type="submit" class="search-btn">🔍</button>
						</form>
					</div>
					<p></p>
					{% popularposts %}
					<p></p>
					{% postcategories %}

				</div>
			</div>
		</div>
	</article>
{% endblock %}