{% extends 'base.html' %}
{% load static %}

{% block content %}
	<article id="portfolio" class="wrapper style3">
		<div class="container">
			<header>
				<h2>Here is my Latest Projects</h2>
				
			</header>
			<div class="row">
				{% for post in posts %}
				<div class="col-6">
					<article class="box style2" style="height: 650px;">
						<p class="image featured"><img src={{post.image.url}} alt="" style="height: 400px;"/></p>
						<h3><a href="/projects/post-{{post.id}}">{{post.title}}</a></h3>
						<p>{{post.content}}</p>
						<small>>{{post.published_date|date:"d M Y"}}</small>
						<small>/ published by : {{post.author}}</small>
						<small>/ views : {{post.counted_views}}</small>
					</article>
				</div>
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}